body  {
  background-color: lightcyan;
  font-size: 1.5em;
}

.btn-col-azure  {
  background-color: azure;
}

.modifier {
  padding: 8px;
  background-color: lightblue;
}

.input-modifier {
  width: 512px;
  height: 24px;
}
